apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: opaque
stringData:
  APP_ENV:
  JWT_SECRET:
  ##############################################################
  USER_SERVICE_PORT:
  USER_SERVICE_MONGO_URI:
  USER_SERVICE_DB_LOGGER_COLLECTION:
  REDIS_USER_SERVICE_REDIS_URI:
  ##############################################################
  PRODUCT_SERVICE_PORT:
  PRODUCT_SERVICE_DB_NAME:
  PRODUCT_SERVICE_DB_PRODUCT_COLLECTION:
  PRODUCT_SERVICE_DB_COMMENT_COLLECTION:
  PRODUCT_SERVICE_MONGO_URI:
  PRODUCT_SERVICE_DB_LOGGER_COLLECTION:
  REDIS_PRODUCT_SERVICE_URI: